/*
POST CARD
================================================ */

.card_tag{
    font-family: 'Silkscreen', cursive;
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 5px 15px;
    background-color: rgba(80, 80, 80, 0.5);
    transform: rotate(-4deg);
}

.card{
    display: flex;
    margin: 1rem  3rem;
    height: calc(65vw/3/100*68);
    background-color: #fff;
    border-radius: 40px;
    padding: 2rem;
}

.article-img{
    height: calc(65vw/3/100*54);
    width: calc(65vw/3/100*96);
}

.card_text{
    width: 65%;
    overflow-wrap: break-word;
    margin: 1.8rem auto;
}

.card_article_title{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    /* 溢れたタイトルを...表示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
}

.card_article_text{
    padding: 1em;
    line-height: 2.5em;
    letter-spacing: 2px;
    height: 6em;
    width: 90%;
    margin:0 auto;
    /* 溢れたタイトルを...表示 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}


