.breadcrumb{
    color: var(--text-color);
    font-family: 'Silkscreen', cursive;
}

.breadcrumb ol{
    margin: 0 auto;
    display: flex;
    margin-bottom: 1rem;
}

.breadcrumb li::after{
    content: '>';
    padding: 0 10px;
}

.breadcrumb li:last-child::after{
    content: '';
}

.content{
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--paragrah);
    padding: 1rem 3rem 3rem;
}

.post-img{
    position: relative;
    margin: 2rem;
}

.post-img img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.post-img-tag{
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 15px 30px;
    background-color: rgba(80, 80, 80, 0.5);
    transform: rotate(-4deg);
}

.article-data ul{
    display: flex;
    align-items: flex-end;
}

.article-data li{
    padding-left: 30px;
}

.article-title{
    text-align: center;
    margin: 2rem 0;
}

.table-of-content{
    padding: 1rem;
    width: 60%;
    margin: 0 auto;
    border: var(--accent-color) 10px solid;
    margin-bottom: 3rem;
}

.table-of-content li{
    padding: 1rem;
}

.table-of-content h3::before{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f0c9';
    padding-right: 15px;
}

.table-of-content h3{
    padding: 1rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--accent-color);
}

.headline {
    position: relative;
    padding-left: 1.2em;
    line-height: 1.4;
    padding-bottom: .5em;
}
  
.headline:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    left: 0;
    top: 0;
    color: var(--accent-color);
}

.sentence{
    line-height: 1.8;
}

/*  */

.article-move-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-move-list li{
    width: 50%;
    padding: 0 1rem;
}

.article-move-list li:nth-child(1):before{
    content: '<';
    padding-right: 10px;
}

.article-move-list li:nth-child(2)::after{
    content: '>';
    padding-left: 10px;
}

.spacebar{
    display: block;
    margin: 4rem auto 5rem;
    border: 1px solid rgba(0 ,0 ,0 , 0.3);
}

/*  */
.recommend-article{
    margin: 4rem 0 2rem;
    position: relative;
}

.recommend-text {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
  
.recommend-text::before,
.recommend-text::after {
    content: '';
    flex-grow: 1;
    height: 4px;
    margin: 0 1rem;
    background: var(--accent-color);
}

.box-shadow{
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.15);
}


