


@charset 'UTF-8';

/*
COMMON
================================================ */
:root{
    --background:#d8eefe;
    --main-background:rgb(27, 115, 165);
    --paragraph:#5f6c7b;
    --button:rgb(27, 115, 165);
    --button-text:#fffffe;
    --text-color:#fffffe;
    --accent-color:rgb(252, 140, 138);
}

html{
    font-size: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.3rem;
}

p {
    font-size: 1.2rem;
}

li{
    font-size: 1.3rem;
}

i{
    cursor: pointer;
}

.shere-btn{
    font-size: 35px;
    color: var(--button);
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50vh;
    left: 10px;
}

.shere-btn i{
    padding: .5rem 0;
}

.copy-btn{
    position: relative;
}

.copy-btn::after {
    position: absolute;
    content: 'URL copied!';
    font-family: 'Silkscreen', cursive;
    font-size: .5em;
    color: var(--text-color);
    background: #333;
    border-radius: 3px;
    padding: 5px;
    left: 35px;
    transition: .4s;
    opacity: 0;
}
  
.copied::after {
    opacity: 1;
}

.url::after{
    content: '\f14c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 13px;
    padding-left: 5px;
}

.file::after{
    content: '\f15c';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 13px;
    padding-left: 3px;
}

.tag{
    font-family: 'Silkscreen', cursive;
    font-size: 130%;
}

body{
    font-family: 'Kiwi Maru', serif;
    background-color: var(--background);
    color: var(--paragraph);
    width: 100vw;
    height: 100vh;
}


.navbar{
    margin: 1rem auto;
    max-width: 85%;
}

.nav-item{
    margin: 2rem 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gotop{
    font-size: 1.5rem;
    color: var(--paragraph);
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;
}

/*
HEADER
================================================ */
header {
    color: var(--text-color);
    font-family: 'Silkscreen', cursive;
    background-color:var(--main-background);
    margin-bottom: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow:
    0 20px 0 -10px rgb(105, 171, 209),
    0 40px 0 -20px rgb(198, 224, 231)
}

.title{
    padding-top: 30px;
    text-align: center;
}


.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
MAIN
================================================ */
main{
    background-color:var(--main-background);
    width: 55%;
    height: 100%;
    padding: 1rem;
    border-radius: 20px;
}

.article_list{
    display: -webkit-flex;
    flex-wrap: wrap;
}

/*
POST CARD
================================================ */
.card_tag{
    font-family: 'Silkscreen', cursive;
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 5px 15px;
    background-color: rgba(80, 80, 80, 0.5);
    transform: rotate(-4deg);
}

.card{
    /* display: flex;
    flex-direction: column; */
    /* margin: 1rem  3rem; */
    margin: 1rem;
    /* height: calc(65vw/3/100*68); */
    background-color: #fff;
    border-radius: 15px;
    padding: 2rem;
    align-items: center;
    width: calc(90%/2);
}

.card-img{
    margin: 0 auto;
}

.article-img{
    /* height: calc(65vw/3/100*54); */
    /* width: calc(65vw/3/100*96); */
    width: 100%;
}

.card_text{
    /* width: 65%; */
    overflow-wrap: break-word;
    /* margin: 1.8rem auto; */
}

.card_article_title{
    margin: 0 auto;
    width: 90%;
    vertical-align: middle;
    padding-top: 1rem;
    /* text-align: center; */
    /* 溢れたタイトルを...表示 */
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  */
}

.card_article_text{
    padding: 1em;
    line-height: 2.5em;
    letter-spacing: 2px;
    height: 6em;
    width: 90%;
    margin:0 auto;
    /* 溢れたタイトルを...表示 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}

/*
ASIDE
================================================ */
.side-card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 15vw;
    background-color: #fffffe;
    border-radius: 20px;
    padding: 2rem 1rem;
}

.text-center{
    text-align: center;
}

.icon{
    border-radius: calc(25vw/3);
    width: calc(25vw/3);
    height: calc(25vw/3);
    margin: 20px;
}

.name{
    font-size: 1.5em;
    font-family: 'Silkscreen', cursive;
    padding-bottom: 10px;
}

.textarea{
    display: block;
    margin: 0 auto;
    overflow-wrap: break-word;
    width: 80%;
    font-size: 1em;
    line-height: 1.5rem;
}

.table-contents-title{
    padding: 0 2rem 1rem;
    text-align: center;
}

.table-contents{
    list-style-type: decimal;
    padding-left: 2rem;
}

aside{
    width: 20%;
}


/*
FOOTER
================================================ */
footer{
    font-family: 'Silkscreen', cursive;
    color: var(--text-color);
    bottom: 0;
    background-color:var(--main-background);
    border-radius: 40px 40px 0 0; 
    margin-top: 5rem;
    padding-bottom: 30px;
}

.copyright{
    text-align: center;
}